input, textarea, select, fieldset
  margin-bottom: 0.5em

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"]
  height: 32px
  padding: 4px 8px
  width: 100%

.column, .columns
  margin-left: 0
