@import 'variables'
@import '~milligram-sass'

@import 'override'

@import 'components/sidebar'
@import 'components/lists'
@import 'components/items'
@import 'components/projects'
@import 'components/form'

body
  margin: 0
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.topbar
  height: 35px
  padding: 5px
  background-color: $color-blue-light

  a
    color: $color-grey-lighter
    &:hover
      color: $color-grey-light

  .login, .logout
    float: right

.dashboard
  min-height: 95vh
  display: flex
  background-color: $color-grey
  width: 100%

a
  color: $color-blue
  text-decoration: none
  &:hover
    color: $color-blue-green

.container
  width: 100%
  max-width: none

.pull-right
  float: right
  position: relative

.toggle
  height: 20px

[data-toggle]
  cursor: pointer

.submenu
  display: none
  position: absolute
  background: white
  border-radius: 2px
  padding: 0.4em
  margin: 0
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18)
  min-width: 140px

  .pull-right &
    right: 0

  &.active
    display: block

ul.actions
  list-style: none

.actions
  z-index: 10
