@import './src/assets/styles/variables'
@import './src/assets/styles/components/sidebar'
@import './src/assets/styles/components/lists'
@import './src/assets/styles/components/items'
@import './src/assets/styles/components/projects'
@import './src/assets/styles/override'

body
  margin: 0
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $color-grey-darker

h1, h2
  font-weight: normal

.topbar
  height: 25px
  padding: 5px
  background-color: $color-blue-light

  a
    color: $color-grey-lighter
    &:hover
      color: $color-grey-light

  .login, .logout
    float: right

.dashboard
  min-height: 95vh
  display: flex
  background-color: $color-grey

a
  color: $color-blue
  text-decoration: none
  &:hover
    color: $color-blue-green

.container
  width: 100%
  max-width: none
